.main{
    background-color: #f3f3f3;
    font-family: 'Calibri',Arial, Helvetica, sans-serif;
  }
  
  .info{
    background-color: #c00505;
  }
  
  .headContent{
    background-color: #c00505;
    height: 50px;
  }